
            .container{
                background-color: rgb(139, 220, 230);
                border-radius: 40px;
                margin: 40px;
                width :auto;
                box-shadow: 4px;
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            .btn{
                background-color: rgb(59, 62, 240);
                padding :10px 20px ;
                border: none;
            }
            .card{
                background-color: rgb(125, 242, 219);
                border-radius: 10px;
                padding: 20px;
                margin: 10px;
                width: 300px;
                box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
            }
            .delete-button{
                background-color: rgb(208, 47, 47);
                padding: 5px 10px;
                border: none;
                border-radius: 5px;
                margin-top: 10px;
                cursor: pointer;
            }
        